@media screen and (max-width:950px){
    
    ul.menu > li > a{
        padding:5px;
    }

    ul.menu .subcontent{
        min-width:100px;
    }
   
     
    .products .product-item{
        width:49%;
        margin:0 auto;
    }
    
    nav > ul.menu{
        flex-direction:column;
        margin-left:0;
        text-align:center;
    }


    ul.menu .subcontent{
        min-width:100%;
        margin:0 auto;
    }
    ul.menu .subcontent>li{
        text-align:center;
        padding:5px;
        margin:0;
    }


    ul.menu > li.login{
        margin:0 1%;
    }

    .container2 > div{
        display:none;
    }

    .container2 >div:first-child{
        display:block;
        width:100%;
    }

    .banner2 .right{
        font-size:14px;
        width:100%;
        padding:10px;
    }
    .banner2 .left img{
        display:none;
    }

    ul.danhmuc{
        text-align:center;
    }
}

@media screen and (max-width:700px){

   

    .products .product-item{
        width:100%;
        margin:0 auto;
    }

    footer .container .box{
        width:100%;
    }

    header div.flex{
        display:block;
    }
    header .img{
        margin:0 auto;
    }

    ul.danhmuc{
        text-align:center;
    }
}

@media screen and(orientation:landscape) and (max-width:500) {
    
    ul.menu > li > a{
        padding:5px;
    }

    ul.menu .subcontent{
        min-width:100px;
    }
   
     
    .products .product-item{
        width:49%;
        margin:0 auto;
    }
    
    nav > ul.menu{
        flex-direction:column;
        margin-left:0;
        text-align:center;
    }


    ul.menu .subcontent{
        min-width:100%;
        margin:0 auto;
    }
    ul.menu .subcontent>li{
        text-align:center;
        padding:5px;
        margin:0;
    }


    ul.menu > li.login{
        margin:0 1%;
    }

    .container2 > div{
        display:none;
    }

    .container2 >div:first-child{
        display:block;
        width:100%;
    }

    .banner2 .right{
        font-size:14px;
        width:100%;
        padding:10px;
    }
    .banner2 .left img{
        display:none;
    }

    ul.danhmuc{
        text-align:center;
    }
}

@media screen and (max-width:500px){
    
    footer {
        padding:0;
    }
}