@media screen and (max-width:1500px){
    
}


@media screen and (max-width:950px){
    

    ul.menu > li > a{
        padding:5px;
    }

    ul.menu .subcontent{
        min-width:100px;
    }
    .content{
        width:100%;

    }

    .content .gamesell{
        width:100%;
    }

    aside {
        display:none;
    }
     
    .product{
        width:49%;
        margin:0 auto;
    }
    
    #search-box{
        display:none;
    }

    nav > ul.menu{
        flex-direction:column;
        margin-left:0;
        text-align:center;
    }


    ul.menu .subcontent{
        min-width:100%;
        margin:0 auto;
    }
    ul.menu .subcontent>li{
        text-align:center;
        padding:5px;
        margin:0;
    }


    ul.menu > li.login{
       
        margin:0 1%;
    }

    .annoucement .bantin{
        flex-wrap:wrap;
    }

    .annoucement .bantin .tintuc{
        width:46%;
    }

    .annoucement .bantin .tintuc:last-child{
        margin:0 auto;
    }

   
}

@media screen and (max-width:700px){
    

    .content{
        width:100%;

    }

    .content .gamesell{
        width:100%;
    }

    aside {
        display:none;
    }
     
    .product{
        width:100%;
    }

   
    
    #search-box{
        display:none;
    }

    .annoucement .bantin .tintuc{
        width:100%;
    }
    footer .container2 .box{
        width:100%;
    }
}


@media screen and (orientation:landscape) and (max-width:950px){
    body{
        font-family: 'Courier New', Courier, monospace;
        font-size:15px;
    }

    aside {
        display:none;
    }

    .content .gamesell .product{
        width:25%;
    }

    nav > ul.menu{
       
        text-align:center;
    }
}

