.flex {
    display:flex;
}

.box-container{
    margin:0 auto;
    width:95%;
    display:flex;
    flex-wrap:wrap;
}

.box {
    width:24%;
    text-align:center;
    border:1px solid #999;
    margin:4px;
    margin-bottom:1.5rem;
    box-shadow:1px 1px 1px 1px;
}

.box > div{
    overflow:hidden;
    padding:5px;
    position:relative;
}

.box img{
    width:100%;
    border-top:3px solid #FF0000;
    transition:transform 1s;
}

@keyframes effect{
    from{
        font-size:15px;
    }
    to{
        font-size:20px;
    }
}


.box .promo{
    position:absolute;
    padding:5px 10px;
    color:yellow;
    background-color:red;
    right:0;
    top:0;
    font-weight:bold;
    animation:effect 0.5s infinite;
    box-sizing:border-box;
}

.box img:hover
{
    transform:scale(1.1);
}

#load-more{
    margin-top: 20px;
    display: inline-block;
    padding:13px 30px;
    border:1px solid #334;
    color:#334;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
  }
  
  #load-more:hover{
    background-color: crimson;
    border-color: crimson;
    color:#fff;
  }
  