*{
    box-sizing:border-box !important;
    margin:0px;
    padding:0;
}



header > div
{
    color:white;
    background-color:#000;
    width:100%;
    display:inline-block;
    align-items:center;
}


header div.menu ul.menu{
    display:flex;
    list-style-type: none;
    float:left;
    margin-left:10px;
}


header > div{
    display:flex;
    
}

header div.logo{
    width:20%;
    margin-left:12%;
    
}

header div.logo > img{
    width:85%;
}

ul.menu > li{
    min-width:100px;
   display:inline-block;
   text-align:center;
   margin:auto;
   
}

ul.menu > li>a{
    color:white;
    text-decoration:none;
    font-size:14px;
    vertical-align: middle ;
    
}

ul.menu > li.search{
    margin-top:auto;
    margin-bottom:auto;
}

ul.menu > li.purchase{
    background: linear-gradient(to right, #44cdff 0%, #39ffef 100%);
    padding:15px;
}
ul.menu > li.purchase > a{
    color:#000000;
    font-size:20px;
}

ul.menu > li.download{
    background: linear-gradient(to right, #1b20ff 0%, #c304ff 100%);
    padding:15px;
    border-left:5px solid #000;
}

ul.menu > li.download > a{
    font-size:20px;
}
